.thanks-parent-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thanks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dcffe4;
    margin: 120px auto;
    width: 30%;
    padding: 5em;
    box-sizing: content-box;
    text-align: center;
}

.thanks-line {
    font-size: 1.25em;
    margin: 1.5em 0;
}

.green-text-thanks-line{
    color: green;
}

.thanks-button{
    border: 0;
    width: max-content;
    height: 3em;
    font-size: 18px;
    font-weight: 600;
    background-color: #97ced4;
    border-radius: 7px;
    cursor: pointer;

}