.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: #002f34;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 2em;
    font-size: 16px;
    margin: 0;
}

.footer-country, .footer-olx{
    text-align: center;
    
    color: aliceblue;
}

